{% extends "progress.html" %}

{% block progress %}
<h3>Question {{qn_number}} :</h3>
<h4 class="quesTion">The sum of two real numbers is given by $(2 * \sqrt[2]{7} + \sqrt[3]{90})$ , then the possible value of product of the two numbers is?</h4>


<form action="/game" method="POST" >
	<!-- <fieldset> -->
		<h3>Options : </h3>
		<input type="hidden" name="qn_number" value={{qn_number}}> 
	    <div class="funkyradio" style="text-align:center">
	        <div class="funkyradio-primary" >
	            <input type="radio" name="radio" id="radio1" value=1 required>
	            <label class="mathEqns" for="radio1">$(\sqrt[3]{70} + \sqrt[4]{90})^2$</label>
	        </div>
	        <div class="funkyradio-primary">
	            <input type="radio" name="radio" id="radio2" value=2 >
	            <label class="mathEqns" for="radio2">$(\sqrt[4]{90} + \sqrt[4]{100})^2$</label>
	        </div>
	        <div class="funkyradio-primary">
	            <input type="radio" name="radio" id="radio3" value=3 >
	            <label class="mathEqns" for="radio3">$(\sqrt[2]{15} + \sqrt[3]{80})^2$</label>
	        </div>
	        <div class="funkyradio-primary" >
	            <input type="radio" name="radio" id="radio4" value=4 >
	            <label class="mathEqns" for="radio4">$(3 + \sqrt[3]{165})^2$</label>
	        </div>
	    </div>
	    
	<!-- </fieldset> -->


{% endblock%}