{% extends "progress.html" %}

{% block progress %}
<h3>Question {{qn_number}} :</h3>
<h4>10 coins are thrown simultaneously, then which of the following are wrong?</h4>

<form action="/game" method="POST" >
	<!-- <fieldset> -->
		<h3>Options : </h3>
		<input type="hidden" name="qn_number" value={{qn_number}}> 
	    <div class="funkyradio" style="text-align:center">
	        <div class="funkyradio-primary" >
	            <input type="radio" name="radio" id="radio1" value=1 required>
	            <label for="radio1">The probability of getting at least one head is 1023/1024</label>
	        </div>
	        <div class="funkyradio-primary">
	            <input type="radio" name="radio" id="radio2" value=2 >
	            <label for="radio2">The probability of getting at most 8 heads is 1013/1024</label>
	        </div>
	        <div class="funkyradio-primary">
	            <input type="radio" name="radio" id="radio3" value=3 >
	            <label for="radio3">The probability of getting exactly 8 heads is 45/1024</label>
	        </div>
	        <div class="funkyradio-primary" >
	            <input type="radio" name="radio" id="radio4" value=4 >
	            <label for="radio4">None of the above</label>
	        </div>
	    </div>
	    
	<!-- </fieldset> -->


{% endblock%}